FORMAT: 1A
HOST: https://api.bugsnag.com/

# Bugsnag Data Access API

The Bugsnag Data Access API allows you to access information about your organization, projects, errors, and more to build custom integrations using your Bugsnag data.

If you need any help or have any comments about the API please contact <support@bugsnag.com>.


## Schema

API access is over HTTPS using the endpoint https://api.bugsnag.com, and all data is sent and received as [JSON](https://en.wikipedia.org/wiki/JSON).

Unless explicitly specified, time series data are returned sorted oldest to newest, and timestamps are returned in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format:

```
YYYY-MM-DDTHH:MM:SSZ
```


## Versioning

This document describes version 2 of the Bugsnag Data Access API.

You must explicitly request this version using the `X-Version` header:

```
curl -H "X-Version: 2" https://api.bugsnag.com
```

Alternatively, you can use use the `Accept` header:

```
curl -H "Accept: application/json; version=2" https://api.bugsnag.com
```

## Authentication

All API requests require authentication.

There are two ways to authenticate with the API, either using a personal auth token or your user credentials.


### Personal Auth Tokens (Recommended)

*Personal Auth Tokens* can be generated in the *My Account* section of [Bugsnag settings](https://app.bugsnag.com/settings/my-account).

There are two ways to send this auth token with requests. You can send the token
in the `Authorization` header:

```
curl -H "Authorization: token YOUR-AUTH-TOKEN-HERE" https://api.bugsnag.com
```

Alternatively, you can use the `auth_token` parameter:

```
curl https://api.bugsnag.com/?auth_token=YOUR-AUTH-TOKEN-HERE
```


### User credentials (on-premise only)

In [on-premise installations](https://docs.bugsnag.com/on-premise/), you can authenticate by using your Bugsnag user credentials via [Basic Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication). Simply send the email address and password associated with the user:

```
curl -H "X-Bugsnag-API: true" -u user@example.com:password https://my-domain.com
```

## Rate Limiting

The time window for rate limits is 1 minute.

Requests that have not been denied due to rate limiting will have the following response headers:
* `X-RateLimit-Limit`: number of requests allowed per time window
* `X-RateLimit-Remaining`: number of requests remaining in the current time window

Requests that have been rate limited will return a `429` response code and have a `Retry-After` response header to indicate how long you should wait (in seconds) before trying again.

## Pagination

Pagination information is included in the `Link` header. It is important to follow these Link header values instead of constructing your own URLs since the pagination method can differ between resources.

The URL for pagination is shown inside angled brackets, and the type of pagination link is described in the rel field:

```
Link: `<https://api.bugsnag.com/example?offset=590bce131f7314d98eac23ba&per_page=5>; rel="next"`
```

### Results per page

Requests that return multiple items will be paginated to 30 items by default. For some resources, you can also set a custom page size up to 100 with the `per_page` parameter:

```
curl https://api.bugsnag.com/example?per_page=5
```

The `per_page` maximum for certain resources is lower. This will be specified in the API reference for the endpoint. If a `per_page` value greater than a given endpoint's maximum value is supplied, only results up to the maximum will be returned.


### Total count of results

Most requests that return multiple items will also include an `X-Total-Count` header with the count of all results:

```
X-Total-Count: 1335
```

## Parameters

Many API methods take optional parameters. For GET requests, any parameters not specified as a segment in the path can be passed as an HTTP query string parameter.

For `POST`, `PATCH`, and `DELETE` requests, parameters not included in the URL should be encoded as JSON with a `Content-Type` of `application/json`.

## Response Codes

### HTTP Status Codes

The API attempts to return appropriate [HTTP status codes](http://en.wikipedia.org/wiki/List_of_HTTP_status_codes) for every request, which are documented with each endpoint below.

Trying to access resources which you do not have access to will result in a `404 Not Found` response, in order to avoid disclosing the existence of user data.


### Error Messages

When the Bugsnag API returns error messages, describing a problem with a Bugsnag
API request, it does so using the following format:

```
{
  "errors": ["invalid password"]
}
```


### API Error Codes

In some cases, to help identify particular categories of API errors, the API will return a code number in addition to an error message:

```
{
  "errors": ["Unable to return complete results"]
  "code": 60000
}
```

The API error codes currently in use include:

|Code|Description|Remedy|
|---|---|---|
|30000|API access restricted due to lapsed payment|Update your [billing information](https://app.bugsnag.com/settings/)|
|31000|API access restricted due to expired trial or invalid subscription|[Select a plan](https://app.bugsnag.com/settings/)|
|32000|API access restricted for this user due to lack of available seats|[Select a plan](https://app.bugsnag.com/settings/) with more seats|
|40000|Insufficient Project Role for performing requested action|[Project Owner or Organization Administrator](https://docs.bugsnag.com/product/roles-and-permissions/) access level is required|
|60000|The number of sorted results has been limited|Set the `sort` parameter to `unsorted` on this request to obtain complete results or add additional filters to reduce the number of results|

## Filtering

Many endpoints that return information about errors and events support a `filters` parameter which can be used to restrict the data returned.

### Filter object

The filter object is a hash of Event Field keys containing an array of filter values. Each filter value has a type and a value to filter on. The type determines the type of comparison that will be performed.

Filters are composed of an array of hashes. Each hash contains a `type` and a `value`. Valid types are `eq`, `ne`, and `empty`, though not all Event Fields support filtering on all of these.

```
{
  "event.field": [{ "type": "eq", "value": "filter value 1" },
                  { "type": "eq", "value": "filter value 2" },
                  { "type": "empty", "value": "true"}]
}
```

Any number of Event Fields can be supplied and results must match each event _field_ (logical AND). Different filter _values_ for an event field will combined according to the following rules.

#### Field value comparison

These compare whether an Event Field is equal (`eq`) or not equal (`ne`) to a given value. Filter values for each Event Field are combined logically as shown:

|Type|Description|Multiple value combination logic|
|---|---|---|
|`eq`|Filter for items that 'match' the value. Some fields require an exact match and some support substring matching.|`OR`|
|`ne`|Filter for items that don't match the value.|`AND`|

If `ne` filter types are supplied alongside `eq`, the `ne` are discarded to avoid a logically ambiguous combination.

Note that the `ne` type is not supported for the time based filters `event.since` and `event.before`.  

#### Field emptiness

These filter based on the presence or absence of _any_ value for a given field. The filter type is `empty`, and takes `true` or `false` values. If an ambiguous value is supplied it is assumed `true`.

Field emptiness filters combine with field value comparisons `eq` and `ne` as follows:

|Field value type|Empty field `true`|Empty field `false`|
|---|---|---|
|`eq`|`OR`|emptiness ignored|
|`ne`|emptiness ignored|`AND`

If both `true` and `false` values are supplied for a given Event Field, `true` will be preferred, except for Event Field `error.assigned_to`.

### Encoding in URL parameters

The filters are generally sent as URL parameters. The object should be encoded as follows:

```
filters[event.field][][type]=eq
filters[event.field][][value]=filter value 1
filters[event.field][][type]=eq
filters[event.field][][value]=filter value 2
filters[event.field][][type]=empty
filters[event.field][][value]=true
```

### Event fields

Each project has a set of default Event Fields, which represent metadata captured on Error events. These are available to filter by plus any [custom event fields](#reference/projects/event-fields/create-a-custom-event-field) that have been created via the API or any [custom filters](https://docs.bugsnag.com/product/custom-filters/) that have been added via the Bugsnag dashboard.

To find the available Event Fields on a project use [List the Event Fields for a Project](#reference/projects/event-fields/list-the-event-fields-for-a-project).

Time filters can either be supplied in ISO 8601 format or as relative times in the format `<number><period>`. If using ISO 8601, times must use the extended format and be in UTC (e.g. `2018-05-20T00:00:00Z`). For relative times, the past seven days could be requested as `7d`. Valid values for `<period>` are:

|Period|Description|
|---|---|
|h|Hours|
|d|Days|

### Filtering errors vs. filtering events

While any of a project's Event Fields can be passed as a filter to any endpoint
that supports filtering, some fields are more applicable to Errors and others
are more applicable to Events.

For example, an Event Field like `error.status`
or `error.assigned_to` would make more sense when filtering at the Error level,
since all Events grouped within a particular error would share the same status
and assignee. Conversely, a filter like `user.email` or `app.release_stage`
is applied at the Event level, since different Events within a particular
Error may happen to different users or in different release stages.

If an endpoint that returns Errors is passed an Event-level filter, it will return
Errors that include at least one Event that matches the filter. Event-level
information within the Error, like the count of relevant Events, will reflect
the filters applied.

### Trace fields and Performance Filtering

Trace Fields are similar to Event Fields, but instead capture performance monitoring metadata as span attributes. These can be used for filtering spans in BugSnag.

To find available Trace Fields on a project, use [List the Trace Fields for a Project](#reference/projects/trace-fields/list-the-trace-fields-on-a-project).

As above, time filters can either be supplied in ISO 8601 format or as relative times in the format `<number><period>`. If using ISO 8601, times must use the extended format and be in UTC (e.g. `2018-05-20T00:00:00Z`). For relative times, the past seven days could be requested as `7d`. Valid values for `<period>` are:

|Period|Description|
|---|---|
|h|Hours|
|d|Days|

### Examples

#### Open errors with events in the last day

This example will filter for events of errors that have a status of open that occurred in the last day:

```
{
  "event.since": [{ "type": "eq", "value": "1d" }],
  "error.status": [{ "type": "eq", "value": "open" }]
}
```
or as URL parameters:
```
filters[event.since][][type]=eq
filters[event.since][][value]=1d
filters[error.status][][type]=eq
filters[error.status][][value]=open
```

#### Events affecting two specific users on a specific day

This example will filter for events that occurred for either user1@example.com or user2@example.com on January 1st, 2017:

```
{
  "event.before": [{ "type": "eq", "value": "2017-01-02T00:00:00Z" }],
  "event.since": [{ "type": "eq", "value": "2017-01-01T00:00:00Z" }],
  "user.email": [{ "type": "eq", "value": "user1@example.com" },
                 { "type": "eq", "value": "user2@example.com" }]
}
```
or as URL parameters:
```
filters[event.before][][type]=eq
filters[event.before][][value]=2017-01-02T00:00:00Z
filters[event.since][][type]=eq
filters[event.since][][value]=2017-01-01T00:00:00Z
filters[user.email][][type]=eq
filters[user.email][][value]=user1@example.com
filters[user.email][][type]=eq
filters[user.email][][value]=user2@example.com
```

#### Events that have user data

This example will filter for any events that have a user ID:

```
{
  "user.id": [{ "type": "empty", "value": "false"}]
}
```
or as URL parameters:
```
filters[user.id][][type]=empty
filters[user.id][][value]=false
```

#### Errors that are new and aren't assigned to anyone

This example will filter for errors that have a status of new but are not assigned to a particular user.

```
{
  "error.status": [{ "type": "eq", "value": "new" }]
  "error.assigned_to": [{ "type": "ne", "value": "12345" }]
}
```
or as URL parameters:
```
filters[error.status][][type]=eq
filters[error.status][][value]=new
filters[user.email][][type]=ne
filters[user.email][][value]=12345
```



## Using the interactive console

These API docs include an interactive console that can be used to make requests
to the production Bugsnag API. For general information about using the console,
see the [Console documentation](https://help.apiary.io/tools/interactive-documentation/#console).

To use the console to test the Bugsnag API, click the API endpoint you would
like to test. Then click the "Switch to Console" button in the upper right
corner. To make a valid request, you'll need to substitute in your own parameter
values for the sample parameters and set the relevant headers:

```
Content-Type: application/json
X-Version: 2
Authorization: token YOUR-AUTH-TOKEN-HERE
```

**Caution:** requests to the Bugsnag API from the console are real API
requests and have the ability to modify your production data!



# Group Current User

These endpoints are designed to act on the settings of the currently authenticated user. This User will be referred to as the Current User throughout this documentation.


## Organizations [/user/organizations{?admin,per_page}]
### List the Current User's Organizations [GET]

+ Parameters
  + `admin` (boolean, optional) - `true` if only Organizations the Current User is an admin of should be returned
  + `per_page`: 10 (number, optional)
      + Default: 30

+ Response 200 (application/json)
  + Attributes (array[OrganizationApiView])
  + Headers

            Link: `<https://api.bugsnag.com/user/organizations?direction=desc&offset=590bce131f7314d98eac23ba&per_page=30&sort=created_at>; rel="next"`
            X-Total-Count: 34

+ Response 404 (application/json)
  Request was made without User authorization. All requests about a User should be authorized as that User.
  + Body
    ```json
    {
      "errors": ["User not found"]
    }
    ```


### List an Organization's Projects [GET /organizations/{organization_id}/projects{?q,sort,direction,per_page}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the organization
  + `q` : MyProject (string, optional) - Search projects with names matching parameter
  + sort (enum[string], optional)
      Which field to sort the results by
      + Default: `created_at`
      + Members
          + `created_at`
          + `name`
          + `favorite`
  + direction (enum[string], optional)
      Which direction to sort the results by. Defaults to `desc` for all sorts except `favorite`. Defaults to `asc` if sorting by `favorite` (cannot sort `favorite`s `desc`).
      + Default: `desc`
      + Members
          + `asc`
          + `desc`
  + `per_page` (number, optional) - How many results to return per page
      + Default: `30`

+ Response 200 (application/json)
  + Attributes (array[ProjectApiView])
  + Headers
    ```
    Link: <https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/projects?offset=517c41f07c1074aee9000002>; rel="next"
    X-Total-Count: 123
    ```

+ Response 404 (application/json)
  An organization with the ID you provided could not be found.

  + Body
    ```json
    {
      "errors": ["Organization not found"]
    }
    ```

+ Response 400 (application/json)
  Favorites only support ascending sort.

  + Body
    ```json
    {
      "errors": ["favorites cannot be sorted descending"]
    }
    ```



    ```






## Saved Searches/Saved Filtersets [/saved_searches/{id}]
A Saved Search is a set of [filters](/#introduction/filtering) and a sort order that have been saved to be used later.

Within the Bugsnag Dashboard, Saved Searches are referred to as Saved Filtersets. See the [Saved Filterset documentation](https://docs.bugsnag.com/product/searching-dashboard/#saving-filtersets) for more on how they can be used.

### Create a Saved Search [POST /saved_searches]

+ Request
  + Attributes (SavedSearchCreateRequest)

+ Response 201 (application/json)
  + Attributes (SavedSearch)

+ Response 403 (application/json)
  The organization does not have the relevant feature.
  + Body
    ```json
    {
      "errors": ["Account requires the performance-comparisons feature"]
    }
    ```


### Update a Saved Search [PATCH]

+ Request
  + Attributes (SavedSearchUpdateRequest)

+ Response 201 (application/json)
  + Attributes (SavedSearch)

+ Response 404 (application/json)
  The saved search was not found.
  + Body
    ```json
    {
    "errors": ["Saved Search not found"]
    }
    ```

### Delete a Saved Search [DELETE]

+ Response 204 (application/json)

+ Response 404 (application/json)
  The saved search was not found.
    + Body
    ```json
    {
    "errors": ["Saved Search not found"]
    }
    ```

### Get a Saved Search [GET /saved_searches/{id}]

+ Parameters
  + `id`: 515fb9337c1074f6fd000003 (string)

+ Response 200 (application/json)
  + Attributes (SavedSearch)

+ Response 404 (application/json)
  The saved search was not found.
  + Body
    ```json
    {
      "errors": ["Saved Search not found"]
    }
    ```

+ Response 400 (application/json)
  The supplied ID was malformed.
  + Body
    ```json
    {
      "errors": ["Bad request"]
    }
    ```

+ Response 403 (application/json)
  The organization does not have the relevant feature.
  + Body
    ```json
    {
      "errors": ["Account requires the performance-comparisons feature"]
    }
    ```


### List Saved Searches on a Project [GET /projects/{project_id}/saved_searches{?shared}]

Returns the saved searches for a given project sorted by name in lexographic order.

+ Parameters
  + `project_id`: 515fb9337c1074f6fd000003 (string)
  + `shared`: true (string, optional) - Limit Saved Searches returned to only those with this `shared` property

+ Response 200 (application/json)
  + Attributes (enum[SavedSearch])

+ Response 403 (application/json)
  The organization does not have the relevant feature.
  + Body
    ```json
    {
      "errors": ["Account requires the performance-comparisons feature"]
    }
    ```


### Get the Usage Summary for a Saved Search [GET /saved_searches/{id}/usage_summary]

Returns a short usage summary for a saved search.

+ Parameters
  + `id`: 515fb9337c1074f6fd000003 (string, required) - the ID of the saved search to get a summary for

+ Response 200 (application/json)
  + Attributes (SavedSearchUsageSummary)
+ Response 400 (application/json)
  The request was bad. This is returned when supplied malformed ids.
  + Body
    ```json
    {
      "errors": ["Bad request"]
    }
    ```
+ Response 404 (application/json)
  The saved search was not found.
  + Body
    ```json
    {
      "errors": ["Saved Search not found"]
    }
    ```






# Group Errors

## Errors [/errors]

An [Error](https://docs.bugsnag.com/product/error-grouping/) is a grouping of events of the same
crash/exception reported to Bugsnag.

### List the Errors on a Project [GET /projects/{project_id}/errors{?sort,direction,per_page,filters,base}]

Get a list of the errors on a project. If you require a feed of all new errors as they are
reported consider setting up a
[webhook integration](https://docs.bugsnag.com/product/integrations/webhook/) instead.

+ Parameters
  + `project_id`: `515fb9337c1074f6fd000003` (string, required) - ID of the Project
  + base: `2017-04-12T22:50:04Z` (string, optional)
      Default: current time
      Only Error Events occurring before this time will be considered.

  + sort (enum[string], optional)
      Which field to sort the results by
      + Default: `last_seen`
      + Members
          + `last_seen` - sorts Errors by most recent occurrence
          + `first_seen` - sorts Errors by first occurrence
          + `users` - sorts Errors by number of users affected
          + `events` - sorts Errors by number of occurrences
          + `unsorted` - This is only necessary in cases where the API returns an error code 60000, indicating that in order to obtain complete results, the unsorted API should be used.
  + direction (enum[string], optional)
      Which direction to sort the results by
      + Default: `desc`
      + Members
          + `asc` - ascending
          + `desc` - descending
  + `per_page` (number, optional) - How many results to return per page. When the `sort` parameter is set to `unsorted`, the actual page size may be smaller than the requested `per_page` size.
      + Default: `30`
  + filters (Filters, optional)
      The request may optionally provide a `filters` object. Only Errors
      matching `filters` will be returned in the response. See [Filtering](/#introduction/filtering)
      for details.


+ Request (application/json)

+ Response 200 (application/json)

  + Headers

            Link: `<https://api.bugsnag.com/projects/515fb9337c1074f6fd000003/errors?offset=590bce131f7314d98eac23ba&sort=last_seen>; rel="next"`
            X-Total-Count: 123

  + Attributes (array[ErrorApiView])

+ Response 404 (application/json)
  Project could not be found. Check the supplied `project_id`.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```

+ Response 422 (application/json)

  The number of sorted results that can be obtained from this endpoint is
  limited. By default, results are sorted by descending Event occurrences.
  If you receive this error, you may still obtain complete results by
  setting the "sort" parameter to "unsorted".

  + Body
    ```json
    {
      "errors": ["Unable to return complete results"],
      "code": 60000
    }
    ```

### View an Error [GET /projects/{project_id}/errors/{error_id}]

+ Parameters
  + `error_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the Error
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project

+ Response 200 (application/json)
  + Attributes (ErrorApiView)

+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

### Update an Error [PATCH /projects/{project_id}/errors/{error_id}]

+ Parameters
  + `error_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the Error
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project

+ Request
  + Attributes (ErrorUpdateRequest)

+ Response 200 (application/json)
  + Attributes (ErrorApiView)

+ Response 204
  Returned upon a successful `discard` or `delete` `operation`.
  + Body

+ Response 400 (application/json)
  Request validation error. See `errors` for specific details.
  + Body
    ```json
    {
      "errors": ["base must be iso8601 format"]
    }
    ```

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


+ Response 404 (application/json)
  Error could not be found or User could not be found (when attempting to assign
  an error). Check the supplied `error_id` or the  supplied
  `assigned_collaborator_id`. It may be that the user does not have access to
  the project that contains the error.
  + Body
    ```json
    {
      "errors": ["Error not found", "User not found"]
    }
    ```


### Bulk Update Errors [PATCH /projects/{project_id}/errors{?error_ids}]

+ Parameters
  + `project_id`: 515fb9337c1074f6fd000003 (string)
  + `error_ids`: `515fb9337c1074f6fd000001` (array[string], required) - IDs of the Errors to update

+ Request
  + Attributes (ErrorUpdateRequest)

+ Response 200 (application/json)
  + Attributes
      + operation (enum[string], required)
          The type of bulk operation that was applied to the set of Errors
          + Members
            + overriden_severity - indicates that the Errors were set to the supplied `severity`.
            + assign - indicates that the Errors were assigned to the Collaborator specified by the `assigned_collaborator_id` parameter. If the request did not specify an `assigned_collaborator_id`, this operation means that the given Errors were unassigned. Note that errors may be assigned only to users who have accepted their Bugsnag invitation and have access to the project.
            + `create_issue` - indicates that a new issue was created for each Error.
            + `link_issue` - indicates that the Errors were linked to the issue specified by the `issue_url` parameter.
            + `unlink_issue` - indicates that any of the Errors that had linked issues have been unlinked
            + open - indicates that all of the Errors were set to open.
            + snooze - indicates that all of the Errors were set to snoozed.
            + fix - indicates that all of the Errors were set to fixed.
            + ignore - indicates that all of the Errors were ignored.
            + delete - indicates that all of the Errors were deleted.
            + discard - indicates that all of the Errors were discarded.
      + *515fb9337c1074f6fd000001* (object) - The response will contain an entry with the following fields for each of the `error_ids` specified in the request. These fields show the state of each of the Errors bulk modifiable fields after the updates have been applied.
          + `assigned_collaborator_id`: `515fb9337c1074f6fd000002` (string, optional) - The Error's assigned user.
          + `assigned_team_id`: `515fb9337c1074f6fd000003` (string, optional) - The Error's assigned team.
          + `linked_issues` (array[ErrorCreatedIssue], optional) - Issues linked to this error
          + `created_issue` (ErrorCreatedIssue, optional) - Deprecated field that returns the first `linked_issue`. Consider using the `linked_issues` field instead
          + `reopen_rules` (ErrorReopenRules, optional) - Snooze rules for automatically reopening the Error
          + status (ErrorStatus) - The Error's work flow status. Must be one of:
          + discarded (boolean) - Whether future Events for this error are being discarded

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


+ Response 404 (application/json)
  Project could not be found or User could not be found (when attempting to assign
  an error). Check the supplied `error_id` or the  supplied
  `assigned_collaborator_id`. It may be that the user does not have access to
  the project that contains the error.

  + Body
    ```json
    {
      "errors": ["Project not found", "User not found"]
    }
    ```

### Delete an Error [DELETE /errors/{id}]

+ Parameters
  + `id`: 515fb9337c1074f6fd000003 (string, required)

+ Response 204 (application/json)

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

### Delete all Errors in a Project [DELETE /projects/{project_id}/errors]

Deletes all Error and Event data in a project. Use with caution. This action cannot be reversed.

+ Parameters
  + `project_id`: `515fb9337c1074f6fd000003` (string, required) - ID of the Project

+ Response 204 (application/json)

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


+ Response 404 (application/json)
  Project could not be found. Check the supplied `project_id`.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```

## Events [/events]

An Event represents a single occurrence of an [Error](https://docs.bugsnag.com/product/error-grouping/).

### View an Event [GET /projects/{project_id}/events/{event_id}]

Note that event objects can include custom metadata and diagnostic fields
configured directly in your app or added by the notifier library. The API
preserves the original casing and key format as received, so any casing,
including both snake_case and camelCase, may be valid for some fields.

+ Parameters
  + `event_id`: 515fb9337c1074f6fd000009 (string, required) - ID of the Event
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project

+ Response 200 (application/json)
  + Attributes (EventApiView)

+ Response 404 (application/json)
  Event could not be found. Check the supplied `event_id`.
  + Body
    ```json
    {
      "errors": ["Event not found"]
    }
    ```

### Delete an Event [DELETE /projects/{project_id}/events/{event_id}]
+ Parameters
  + `event_id`: 515fb9337c1074f6fd000009 (string)
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project

+ Response 204 (application/json)
  + Attributes

+ Response 404 (application/json)
  Event could not be found. Check the supplied `event_id`.
  + Body
    ```json
    {
      "errors": ["Event not found"]
    }
    ```

### List the Events on an Error [GET /projects/{project_id}/errors/{error_id}/events{?sort,direction,filters,base,full_reports}]

Get a list of the events of an error. If you require a feed of all new events as they are
reported consider setting up a
[webhook integration](https://docs.bugsnag.com/product/integrations/webhook/) instead.

+ Parameters
  + `error_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the Error
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project
  + base: `2017-04-12T22:50:04Z` (string, optional)
      Default: current time
      Only Error Events occuring before this time will be considered.

  + sort (enum[string], optional)
      Which field to sort the results by
      + Default: `timestamp`
      + Members
          + `timestamp` - sorts Events by when they occurred
  + direction (enum[string], optional)
      Which direction to sort the results by
      + Default: `desc`
      + Members
          + `asc` - ascending
          + `desc` - descending
  + `per_page` (number, optional) - How many results to return per page, up to a maximum of `30`.
      + Default: `30`
  + filters (Filters, optional)
      The request may optionally provide a `filters` object. Only Errors
      matching `filters` will be returned in the response. See [Filtering](/#introduction/filtering)
      for details.
  + full_reports (boolean, optional)
      whether to request full reports (so the response has items that match the response format of the "View an Event" endpoint)
      + Default: false

+ Request (application/json)

+ Response 200 (application/json)

  + Headers

            Link: `<https://api.bugsnag.com/project/515fb9337c1074f6fd000003/errors/515fb9337c1074f6fd000001/events?offset=590bce131f7314d98eac23ba&sort=timestamp>; rel="next"`
            X-Total-Count: 123

  + Attributes (array[ElasticSearchEventApiView])

+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

### View the latest Event on an Error [GET /errors/{error_id}/latest_event]

+ Parameters
  + `error_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the Error

+ Request (application/json)

+ Response 200 (application/json)
  + Attributes (EventApiView)

+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

### List the Events on a Project [GET /projects/{project_id}/events{?sort,direction,filters,base,full_reports}]

+ Parameters
  + `project_id`: 515fb9337c1074f6fd000003 (string)
  + base: `2017-04-12T22:50:04Z` (string, optional)
      Default: current time
      Only Error Events occurring before this time will be considered.

  + sort (enum[string], optional)
      Which field to sort the results by
      + Default: `timestamp`
      + Members
          + `timestamp` - sorts Events by when they occurred
  + direction (enum[string], optional)
      Which direction to sort the results by
      + Default: `desc`
      + Members
          + `asc` - ascending
          + `desc` - descending
  + `per_page` (number, optional) - How many results to return per page, up to a maximum of `30`.
      + Default: `30`
  + filters (Filters, optional)
      The request may optionally provide a `filters` object. Only Errors
      matching `filters` will be returned in the response. See [Filtering](/#introduction/filtering)
      for details.
  + full_reports (boolean, optional)
      whether to request full reports (so the response has items that match the response format of the "View an Event" endpoint)
      + Default: false

+ Request (application/json)

+ Response 200 (application/json)

  + Headers

            Link: `<https://api.bugsnag.com/projects/515fb9337c1074f6fd000003/events?offset=590bce131f7314d98eac23ba&sort=timestamp>; rel="next"`
            X-Total-Count: 123

  + Attributes (array[ElasticSearchEventApiView])

+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

## Pivots [/pivots]

Pivots represent the dimensions along which groups of Projects and Errors can be
summarized. The values of a Pivot describe the distribution of Events across one
of these dimensions. Pivot values can be used to answer questions like, which users
were most affected a particular error, or, what was the distribution of Events across
all of a Project's Releases?

### List Pivots on an Error [GET /projects/{project_id}/errors/{error_id}/pivots{?filters,pivots,summary_size,per_page}]
+ Parameters
  + `error_id` (string, required) - ID of the Error
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project
  + filters (Filters, optional) - The cardinalities for each returned Pivot will only reflect Events that match the provided Filters.
  + `summary_size`: 10 (number, optional) - The number of elements to include in the returned `summary.list`. The lower the value of this parameter, the greater the value of each Pivot's returned `other` count.
  + pivots (array, optional) - An array of EventField `display_id`s which identify Pivots, this will return results about only these Pivots.
  + `per_page`: 30 (number, optional)
      + Default: 30

+ Response 200 (application/json)
  + Attributes (array[PivotApiView])
  + Headers

            Link: `<https://api.bugsnag.com/projects/337515fb9c1074f6fd000001/errors/515fb9337c1074f6fd000001/pivots/?offset=2017-04-12T22:50:04Z>; rel="next"`
            X-Total-Count: 123

+ Response 400 (application/json)
  Request validation error. See `errors` for specific details.
  + Body
    ```json
    {
      "errors": ["summary_size must be a number"]
    }
    ```

+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

### List values of a Pivot on an Error [GET /projects/{project_id}/errors/{error_id}/pivots/{event_field_display_id}/values{?filters,base,sort}]

+ Parameters
  + `error_id` (string, required) - ID of the Error
  + `project_id`: `337515fb9c1074f6fd000001` (string, required) - ID of the Project
  + `event_field_display_id`: `app.release_stage` - The display ID of the EventField for which Pivot values should be returned.
  + filters (Filters, optional) - The values returned will only reflect Events that match the provided Filters.
  + sort: `unsorted` (string, optional) By default Pivot values will be ordered by descending Event occurrences. This may optionally be set to "unsorted". This is only necessary in cases where the API returns an error code 60000, indicating that in order to obtain complete results, the unsorted API should be used.
  + base: `2017-04-12T22:50:04Z` (string, optional)
      Only Events occurring before this time will be considered.
  + `per_page`: 30 (number, optional)
      + Default: 30

+ Response 200 (application/json)
  + Attributes (array[PivotValueApiView])
  + Headers

            Link: `<https://api.bugsnag.com/projects/337515fb9c1074f6fd000001/errors/515fb9337c1074f6fd000001/pivots/release.stage/values?offset=2017-04-12T22:50:04Z>; rel="next"`
            X-Total-Count: 123

+ Response 404 (application/json)
  Error could not be found. Check the supplied `error_id`.
  + Body
    ```json
    {
      "errors": ["Error not found"]
    }
    ```

+ Response 422 (application/json)

  The number of sorted results that can be obtained from this endpoint is
  limited. By default, results are sorted by descending Event occurrences.
  If you receive this error, you may still obtain complete results by
  setting the "sort" parameter to "unsorted".

  + Body
    ```json
    {
      "errors": ["Unable to return complete results"],
      "code": 60000
    }
    ```

### List Pivots on a Project [GET /projects/{project_id}/pivots{?filters,pivots,summary_size}]
+ Parameters
  + `project_id` (string, required) - ID of the project
  + filters (Filters, optional) - The cardinality and summary returned for each returned Pivot will only reflect Events that match the provided Filters.
  + `summary_size`: 10 (number, optional) - The number of Pivots to return information about. 10 by default.
  + pivots (array, optional) - An array of Pivot ids, this will return results about only these Pivots.

+ Response 200 (application/json)
  + Attributes (array[PivotApiView])

+ Response 400 (application/json)
  Request validation error. See `errors` for specific details.
  + Body
    ```json
    {
      "errors": ["summary_size must be a number"]
    }
    ```

+ Response 404 (application/json)
  Project could not be found. Check the supplied `project_id`.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```

### List values of a Pivot on a Project [GET /projects/{project_id}/pivots/{event_field_display_id}/values{?filters,base,sort}]
+ Parameters
  + `project_id` (string, required) - ID of the Project
  + `event_field_display_id`: `app.release_stage` - The display ID of the EventField for which Pivot values should be returned.
  + filters (Filters, optional) - The values returned will only reflect Events that match the provided Filters.
  + sort: `unsorted` (string, optional) By default Pivot values will be ordered by descending Event occurrences. This may optionally be set to "unsorted". This is only necessary in cases where the API returns an error code 60000, indicating that in order to obtain complete results, the unsorted API should be used.
  + base: `2017-04-12T22:50:04Z` (string, optional)
      Only Events occurring before this time will be considered.
  + `per_page`: 30 (number, optional)
      + Default: 30

+ Response 200 (application/json)
  + Attributes (array[PivotValueApiView])
  + Headers

            Link: `<https://api.bugsnag.com/projects/515fb9337c1074f6fd000001/pivots/release.stage/values?offset=2017-04-12T22:50:04>; rel="next"`
            X-Total-Count: 123

+ Response 404 (application/json)
  Project could not be found. Check the supplied `project_id`.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```

+ Response 422 (application/json)

  The number of sorted results that can be obtained from this endpoint is
  limited. By default, results are sorted by descending Event occurrences.
  If you receive this error, you may still obtain complete results by
  setting the "sort" parameter to "unsorted".

  + Body
    ```json
    {
      "errors": ["Unable to return complete results"],
      "code": 60000
    }
    ```


## Trends [/trends]

A Trend shows instances of events over time, by error or project.

### List the Trends for an Error (buckets) [GET /projects/{project_id}/errors/{error_id}/trend{?filters,buckets_count}]

Counts for an Error in a given time range, suitable for drawing histograms. Will return a maximum of 50 buckets.

+ Parameters
  + `error_id` (string, required) - ID of the error
  + `project_id` (string, required) - ID of the Project
  + filters (Filters, optional) - Search filters to restrict the events reported in the trend
  + `buckets_count` (number, required) - Number of buckets to group trend data into

+ Response 200 (application/json)

  + Attributes (array[Trend1, Trend2])

+ Response 400 (application/json)
  Returned when the number of data points required to respond to the request would exceed the maximum.

  + Body
    ```json
    {
      "errors": ["Buckets count must be between 1 and 50"]
    }
    ```

### List the Trends for an Error (resolution) [GET /projects/{project_id}/errors/{error_id}/trend{?filters,resolution}]

Counts for an Error in a given time range, suitable for drawing histograms. Will return a maximum of 2000 data points.

+ Parameters
  + `error_id` (string, required) - ID of the error
  + `project_id` (string, required) - ID of the Project
  + filters (Filters, optional) - Search filters to restrict the events reported in the trend
  + resolution (enum[string], required)
      The trend data will be grouped so that each bucket spans the given time period
      + Members
          + `1m`
          + `5m`
          + `30m`
          + `2h`
          + `12h`

+ Response 200 (application/json)

  When called with `resolution` param:

  + Attributes (array[Trend1, Trend2])

+ Response 400 (application/json)
  Returned when the number of data points required to respond to the request would exceed the maximum.

  + Body
    ```json
    {
      "errors": ["Too many data points requested. Please use a narrower time range or lower resolution."]
    }
    ```

### List the Trends for a Project (buckets) [GET /projects/{project_id}/trend{?filters,buckets_count}]
+ Parameters
  + `project_id` (string, required) - ID of the project
  + filters (Filters, optional) - Search filters to restrict the events reported in the trend
  + `buckets_count` (number, required) - Number of buckets to group trend data into

+ Response 200 (application/json)

  + Attributes (array[Trend1, Trend2])

+ Response 400 (application/json)
  Returned when the number of data points required to respond to the request would exceed the maximum.

  + Body
    ```json
    {
      "errors": ["Buckets count must be between 1 and 50"]
    }
    ```

### List the Trends for a Project (resolution) [GET /projects/{project_id}/trend{?filters,buckets_count,resolution}]
+ Parameters
  + `project_id` (string, required) - ID of the project
  + filters (Filters, optional) - Search filters to restrict the events reported in the trend
  + resolution (enum[string], required)
      The trend data will be grouped so that each bucket spans the given time period
      + Members
          + `1m`
          + `5m`
          + `30m`
          + `2h`
          + `12h`

+ Response 200 (application/json)

  + Attributes (array[Trend1, Trend2])

+ Response 400 (application/json)
  Returned when the number of data points required to respond to the request would exceed the maximum.

  + Body
    ```json
    {
      "errors": ["Too many data points requested. Please use a narrower time range or lower resolution."]
    }
    ```





# Group Integrations

Integrations are used to integrate Bugsnag with issue tracker, team notification, data-forwarding and on-call services. In terms of the data access API, an integration refers to a link from Bugsnag to an external service. When set up on a project they become [Configured Integrations](/#reference/integrations/configured-integrations).

## Configured Integrations

Configured integrations allow Bugsnag to use an integration for the project they are set up on. Only one issue tracker integration can be configured on a project unless the account has access to the multiple issue trackers feature, but there is no limit on the number of other integrations. Configured integrations can be set up to fire automatically with trigger configurations.

## Trigger configurations

When setting up an integration with other services, it may be desirable to have actions trigger automatically when something occurs. We configure these triggers using a _trigger config_. The structure of a particular trigger config depends on the `trigger_config_key` which [forms part of the URL for updating a trigger config](/#reference/integrations/configured-integrations/update-a-configured-integration's-trigger-config), and some triggers are only applicable for some integrations types.

### Types of trigger

There are eleven supported triggers for configured integrations. These are:

|Trigger Config Key|Triggers...|
|---|---|
|`first_exception_config`|when a new error is received|
|`error_event_frequency_config`|when an error occurs with a given frequency|
|`exception_config`|every time an error receives a new event|
|`power_ten_config`|when an error reaches a milestone|
|`new_release_config`|when the project sees a new release|
|`project_spiking_config`|when there is [a spike in the number of errors](https://docs.bugsnag.com/product/integrations/spike-detection/)|
|`reopened_config`|when an error is automatically reopened|
|`error_state_manual_change_config`|when a collaborator changes an error's state|
|`comment_config`|when a collaborator comments on an error|
|`project_sampling_started_config`|when a project is being rate-limited|
|`project_approaching_rate_limit_config`|when a project is approaching its rate limit|

Certain triggers are not applicable to all [integration types](https://docs.bugsnag.com/product/integrations/):

|[Integration Type](https://docs.bugsnag.com/product/integrations/)|Valid Trigger Configs|
|---|---|
|Data forwarding|All are supported|
|Issue tracker|Only `first_exception_config` and `error_event_frequency_config`|
|Team notifications|All are supported|
|Incident management|All except `new_release_config` and `comment_config`|

### Structure

When updating a trigger config there is a common structure: an `active` parameter to enable that trigger, and a `settings` parameter which sets up the specifics. Depending on the particular trigger, some subset of these setting parameters may be used. Note that while the `settings` parameter takes an array, only one object should be included in that array.

```
{
  "active": true,
  "settings": [
    {
      "saved_search_id": "515fb9337c1074f6fd000001",
      "basic_filter": {
        "release_stages": ["development"],
        "severities": ["error", "warning"],
        "unhandled_states": ["unhandled"],
        "error_statuses": ["open", "fixed"]
      },
      "period": "1d",
      "threshold": 1000,
      "type": "event",
      "include_all_states": true,
      "release_stages": ["development"],
    }
  ]
}
```

When supported, you may supply either a `saved_search_id` _or_ a `basic_filter`. Using a `saved_search_id` (also called a saved filterset) is only available for organizations on plans that support advanced filtering. Note as well that using a `saved_search_id` will make that saved search shared with all collaborators on the project. Only saved searches with a `type` of `error` are supported on configured integrations.

|Settings parameter|Valid|
|---|---|
|`saved_search_id`|All except `new_release_config`, `power_ten_config`, and `reopened_config`, if no `basic_filter` provided|
|`basic_filter`|All except `new_release_config`, if no `saved_search_id` provided|
|`period`|Only `error_event_frequency_config`|
|`threshold`|Only `error_event_frequency_config`|
|`type`|Only `error_event_frequency_config`|
|`include_all_states`|Only `project_spiking_config` for any integration, or `exception_config` on data forwarding integrations|
|`release_stages`|Only `new_release_config`|

If provided, `period` should be constructed using an integer and a unit (`m` for minute, `h` for hour, or `d` for day). `period` must be equal to or less than one week (e.g. `3d` for 3 days) in most cases, but must be equal to or less than one day when `type` is `user`.

`threshold` should be an integer, and `include_all_states` is a boolean. `release_stages` should match the release stages to be included (or blank for all).

The `basic_filter` should be a hash containing any fields that should be restricted. As with the top-level parameter, the `basic_filter` `release_stages` should match the release stages to be included (or blank for all). The `severities` array accepts values `error` `warning` and `info`, the `unhandled_states` array accepts `unhandled` and `handled`, and the `error_statuses` array accepts `open` `fixed` `snoozed` and `ignored`.

### Examples

#### Trigger on a new production release

This will trigger the configured integration when a new release is first seen on production.

```
PATCH /configured_integrations/[ID]/trigger_configs/new_release_config

{
  "active": true,
  "settings": [
    {
      "release_stages": ["production"],
    }
  ]
}
```

#### Trigger on a spike of errors in a saved filterset

This will trigger the configured integration when there's a spike detected on the errors matching a saved search.

```
PATCH /configured_integrations/[ID]/trigger_configs/project_spiking_config

{
  "active": true,
  "settings": [
    {
      "saved_search_id": "515fb9337c1074f6fd000001",
    }
  ]
}
```

#### Trigger on a certain frequency of unhandled errors

This will trigger the configured integration when there's 10,000 unhandled error-level events on errors that are open, fixed, or snoozed, in a 5 minute window.

```
PATCH /configured_integrations/[ID]/trigger_configs/error_event_frequency_config

{
  "active": true,
  "settings": [
    {
      "basic_filter": {
        "severities": ["error"],
        "unhandled_states": ["unhandled"],
        "error_statuses": ["open","fixed","snoozed"]
      },
      "threshold": 10000,
      "period": "5m",
      "type": "event"
    }
  ]
}
```

## Integrations [/integrations]

Integrations are used to integrate Bugsnag with issue tracker, team notification, data-forwarding and on-call services. When set up on a project they become [Configured Integrations](/#reference/integrations/configured-integrations).

### List the supported Integrations [GET /integrations]

Get information about all the integrations supported and how they can be configured. This includes details of the fields needed to set them up.


+ Response 200 (application/json)
  + Attributes (array[Integration])

### Test an Integration [POST /integrations/test{?key,configuration}]

Test an integration using the configuration parameters provided without saving it as a configured integration. For `issue-tracker` integrations this will created a test issue. For `team-notification`, `data-forwarding` and `on-call` notifications it will send a test alert/message. Use the [Configured Integrations](/#reference/integrations/configured-integrations) test endpoint for integrations which are already configured.

+ Request
  + Attributes
      + key: jira (string, required) - The key of the integration service to test. The supported keys can be obtained from [/integrations](/#reference/integrations/integrations)
      + configuration (SampleIntegrationConfiguration, required) - The configuration fields and their values to test the integration with. The required fields for each integration service can be obtained from [/integrations](/#reference/integrations/integrations). Example:

+ Response 204 (application/json)
  The integration was successfully tested.
  + Body

+ Response 400 (application/json)
  The test of the integration failed.
  + Body
    ```json
    {
      "errors":["Invalid username or password"]
    }
    ```


## Configured Integrations [/configured_integrations]

Configured integrations record the details of issue tracker, team notification, data-forwarding and on-call integrations set up on Bugsnag projects. Only one issue tracker integration can be configured on a project but there is no limit on the number of other integrations.

### Configure an Integration [POST /projects/{project_id}/configured_integrations]

Configure a new integration for a project. Only one issue-tracker-type integration is allowed on a project, unless your plan supports multiple issue trackers.

+ Parameters
  + `project_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the project to configure the integration for.

+ Request
  + Attributes (ConfiguredIntegrationCreateRequest)

+ Response 200 (application/json)
  + Attributes (ConfiguredIntegration)

+ Response 400 (application/json)
  The integration could not be created. Check the errors supplied in the response.
  + Body
    ```json
    {
      "errors": ["Invalid password"]
    }
    ```

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


### List Summaries of the Configured Integrations for a Project [GET /projects/{project_id}/configured_integration_summaries]

List summaries of all the configured integrations on a project. Summaries are lightweight descriptions of a configured integration. For a full description, use the [Get a Configured Integration](/#reference/integrations/configured-integrations/get-a-configured-integration) endpoint.

+ Parameters
  + `project_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the project to get the configured integration summaries for.
  + `per_page` (number, optional) - How many results to return per page, up to a maximum of `100`.
  + `page_token` (number, optional) - Page of results to show.
  + `category`: `issue-tracker` (string, optional) - Whether to limit the results to those matching this category.

+ Response 200 (application/json)
  + Attributes (array[ConfiguredIntegrationSummary])

+ Response 404 (application/json)
  The project could not be found. Check the supplied `project_id`.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```


### Get a Configured Integration [GET /configured_integrations/{id}]

Get the full description of a configured integration.

+ Parameters
  + `id`: `625ab9337c1074f6fd004761` (string, required) - ID of the configured integration.

+ Response 200 (application/json)
  + Attributes (ConfiguredIntegration)

+ Response 404 (application/json)
  The configured integration could not be found. Check the supplied `id`.
  + Body
    ```json
    {
      "errors": ["Integration not found"]
    }
    ```

### Update a Configured Integration [PATCH /configured_integrations/{id}]

Update the configuration for an integration on a project.

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - ID of the configured integration to update.

+ Request
  + Attributes (ConfiguredIntegrationUpdateRequest)

+ Response 200 (application/json)
  + Attributes (ConfiguredIntegration)

+ Response 400 (application/json)
  The integration could not be updated. Check the errors supplied in the response.
  + Body
    ```json
    {
      "errors": ["Invalid password"]
    }
    ```

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


+ Response 404 (application/json)
  Configured integration could not be found. Check the supplied `id`.
  + Body
    ```json
    {
      "errors": ["Integration not found"]
    }
    ```

### Update a Configured Integration's Trigger Config [PATCH /configured_integrations/{id}/trigger_configs/{trigger_config_key}]

Set a condition for automatic integration behavior. See the [reference on trigger configs](/#reference/integrations/) for details on how to construct the payload.

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - ID of the configured integration
  + `trigger_config_key`: 'project_spiking_config' (string, required) - key of the configured integration's trigger_config to update

+ Request
  + Attributes (TriggerConfig)

+ Response 200 (application/json)
  + Attributes (TriggerConfig)

+ Response 400 (application/json)
  The request was bad. Check the errors supplied in the response.
  + Body
    ```json
    {
      "errors": ["active must be one of true or false"]
    }
    ```

+ Response 403 (application/json)
  The account does not have the notifications advanced filtering feature enabled
  + Body
    ```json
    {
      "errors": ["Advanced filtering is not enabled for this account"]
    }
    ```

+ Response 403 (application/json)
  Attempted to update a trigger config that requires a feature the account does not have.
  + Body
    ```json
    {
      "errors": ["Account reuqires the approaching-rate-limit-notifications feature"]
    }
    ```

+ Response 404 (application/json)
  Email Notification could not be found. Check the supplied `id`.
  + Body
    ```json
    {
      "errors": ["Configured integration not found"]
    }
    ```

+ Response 404 (application/json)
  Saved Search not found. If there is a Saved Search with this ID, the type may not be 'error'.
  + Body
    ```json
    {
      "errors": ["Saved Search not found"]
    }
    ```

### Delete a Configured Integration [DELETE /configured_integrations/{id}]

Delete the configuration for an integration.

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - ID of the configured integration to delete.

+ Response 204 (application/json)
  The configured integration was successfully deleted.
  + Body

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


+ Response 404 (application/json)
  Configured integration could not be found. Check the supplied `id`.
  + Body
    ```json
    {
      "errors": ["Integration not found"]
    }
    ```

### Test a Configured Integration [POST /configured_integrations/{id}/test]

Test a configured integration. For `issue-tracker` integrations this will created a test issue. For `team-notification`, `data-forwarding` and `on-call` notifications it will send a test alert/message. To test an integration without saving the configuration first, use [/integrations/test](/#reference/integrations/configured-integrations/test-a-configured-integration).

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string) - ID of the configured integration

+ Request
  + Attributes (SampleIntegrationConfigurationRequest)

+ Response 204 (application/json)
  The integration was successfully tested.
  + Body

+ Response 400 (application/json)
  The integration was not successfully tested. Check the errors supplied in the response.
  + Body
    ```json
    {
      "errors":["Invalid password"]
    }
    ```

+ Response 403 (application/json)
  The user should be an Organization Administrator or Project Owner to perform this action
    
  + Body

    ```json
    {
      "code": 40000,
      "errors": ["Insufficient Project Role for performing requested action"]
    }
    ```


## Integration Connections [/integration_connections]

Integration Connections allow organization-level configured integrations. Currently this setup only works for the Jira app.


### List the Integration Connections for an Organization [GET /organizations/{organization_id}/integration_connections]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization the integration connections belongs to.
  + `type`: `jira` (string, required) - The external software to communicate with. Currently this can only be 'jira' or nil.

+ Response 200 (application/json)
  + Attributes (array[IntegrationConnectionManualApiView])

+ Response 404 (application/json)
  The organization could not be found.
  + Body
    ```json
    {
      "errors": ["Organization not found"]
    }
    ```



# Group Organizations

## Organizations [/organizations]

An Organization is a collection of Bugsnag projects owned by a company, group, or individual.

### Create an Organization [POST /organizations]

  Creates a new Bugsnag organization and adds the current user to it as an admin. Requires user authentication as the initial user of the organization.

+ Request
  + Attributes
      + `name`: `Acme Co.` (string, required)
        Name of the company or organization to create

+ Response 200 (application/json)
  + Attributes (OrganizationApiView)

+ Response 400 (application/json)
  The request was bad. Check the errors supplied in the response.
  Examples: Heroku users and saml-authenticated users cannot create an organization
  + Body
    ```json
    {
      "errors": ["Cannot create upstream billing organization", "SAML users cannot create organization"]
    }
    ```

### View an Organization [GET /organizations/{id}]

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the organization

+ Response 200 (application/json)
  + Attributes (OrganizationApiView)

+ Response 404 (application/json)
  An organization with the ID you provided could not be found.

  + Body
    ```json
    {
      "errors": ["Organization not found"]
    }
    ```

### Update an Organization [PATCH /organizations/{id}]

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the organization

+ Request
  + Attributes (OrganizationUpdateRequest)

+ Response 200 (application/json)
  + Attributes (OrganizationApiView)

+ Response 400 (application/json)
  This Organization type cannot be updated via the API. Example: Heroku organizations.
  + Body
    ```json
    {
      "errors": ["cannot update upstream billing organization"]
    }
    ```

+ Response 404 (application/json)
  Organization could not be found. Check the supplied `organization_id`.
  + Body 
  ```json
  {
    "errors": ["Organization not found"]
  }
  ```
  
+ Response 403 (application/json)
  The user should be an Organization Administrator to perform this action

  + Body
    ```json
    {
      "errors": ["The requesting user should be an Organization Administrator to perform the action"]
    }
    ```
 
+ Response 403 (application/json)
  Organization does not have access to a required feature for the parameter being updated.

  + Body 
  ```json
  {
    "errors": ["Default project event cap unavailable on plan"]
  }
  ```

### Delete an Organization [DELETE /organizations/{id}]

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization

+ Response 204 (application/json)

+ Response 400 (application/json)
  This Organization cannot be deleted via the API. (e.g. Heroku organizations)
  + Body
    ```json
    {
      "errors": ["cannot delete upstream billing organization"]
    }
    ```

+ Response 404 (application/json)
  Organization could not be found. Check the supplied `organization_id`.
  + Body 
  ```json
  {
    "errors": ["Organization not found"]
  }
  ```
  
+ Response 403 (application/json)
  The user should be an Organization Administrator to perform this action

  + Body
    ```json
    {
      "errors": ["The requesting user should be an Organization Administrator to perform the action"]
    }
    ```
 

### Regenerate an Organization's API key [DELETE /organizations/{id}/api_key]

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization

+ Response 200 (application/json)
  + Attributes (OrganizationApiView)

+ Response 404 (application/json)
  Organization could not be found. Check the supplied `organization_id`.
  + Body 
  ```json
  {
    "errors": ["Organization not found"]
  }
  ```
  
+ Response 403 (application/json)
  The user should be an Organization Administrator to perform this action

  + Body
    ```json
    {
      "errors": ["The requesting user should be an Organization Administrator to perform the action"]
    }
    ```
 

### Regenerate an Organization's auth token [DELETE /organizations/{id}/auth_token]

  Deprecated. Use [user-level authentication tokens](/#introduction/authentication) instead.
  Generate a new data access API auth token for the organization. This token
  allows you to read data from and write data to Bugsnag relating to your
  Organization, Projects, Errors, etc. After regenerating the auth token, the
  prior data access API auth token will no longer be supported. Note that this
  key is different from the project-level notifier API key that you use to
  identify a project to Bugsnag when you report errors.

+ Parameters
  + `id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization

+ Response 200 (application/json)
  + Attributes (OrganizationApiView)

+ Response 404 (application/json)
  Organization could not be found. Check the supplied `organization_id`.
  + Body 
  ```json
  {
    "errors": ["Organization not found"]
  }
  ```
  
+ Response 403 (application/json)
  The user should be an Organization Administrator to perform this action

  + Body
    ```json
    {
      "errors": ["The requesting user should be an Organization Administrator to perform the action"]
    }
    ```
 


## Collaborators [/collaborators]

Collaborators are other users in your Bugsnag organization who collaborate on fixing errors
that have been reported.

### Show a Collaborator on an Organization [GET /organizations/{organization_id}/collaborators/{id}]

Show a collaborator within an organization. Requires requesting user to be an organization admin. 

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the collaborator

+ Response 200 (application/json)
  + Attributes (CollaboratorApiView)

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the Organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided or a user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "User not found"]
    }
    ```

### Show Collaborator on a Project [GET /projects/{project_id}/collaborators/{id}]

Show a collaborator in a project. Requires requesting user to have access to the given project. 

+ Parameters
  + `project_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the project
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the collaborator
+ Response 200 (application/json)
  + Attributes (CollaboratorApiView)

+ Response 404 (application/json)
  A project with the ID you provided could not be found, or you do not have access
to the project.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```
+ Response 404 (application/json)
  A collaborator with the ID you provided could not be found, or they do not have access to the project.
  + Body
    ```json
    {
      "errors": ["User not found"]
    }
    ```

### List Collaborators [GET /organizations/{organization_id}/collaborators{?per_page}]

List all collaborators that are members of your organization.

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of your organization
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `q`: Marco (string, optional) - Search collaborators with names or emails matching parameter

+ Response 200 (application/json)
  + Attributes (array[CollaboratorApiView])

  + Headers

            Link: `<https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/collaborators?offset=517c41f07c1074aee9000002>; rel="next"`
            X-Total-Count: 34

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the Organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found"]
    }
    ```


### Create a Collaborator [POST /organizations/{organization_id}/collaborators]

This endpoint is used to invite a collaborator to your Bugsnag organization. If
the user has already been invited, this endpoint can be used to resend their
invitation.

+ Parameters
  + organization_id: `515fb9337c1074f6fd000001` (string, required) - the ID of your organization

+ Request
  + Attributes
      + email: `jane@example.com` (string, required)
        The email of the person to invite
      + name: `Jane Smith` (string)
        A name for the invited user
      + password: `v3rys3curep4ssw0rd` (string)
        A password for the invited user
      + `project_ids`: `590270d39ef172ad693e05b1` (array[string])
        The ids of projects in the current organization that the invited user should have access to. Leave blank if the `admin` field is set to true. Admins have access to all projects. Only one of `project_roles` and `project_ids` may be supplied.
      + `project_roles`: (object)
        The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'. Leave blank if the `admin` field is set to true. Admins have access to all projects. Only one of `project_roles` and `project_ids` may be supplied. This field may only be supplied if the `enterprise-roles` feature is enabled for the account.
        Example:
        ```
        {
          "590270d39ef172ad693e05b1": "project_owner",
          ...
        }
        ```
      + admin: false (boolean)
        Whether to give admin permissions to the invited user.

+ Response 200 (application/json)
  + Attributes (CollaboratorApiView)

+ Response 400 (application/json)
  The request was invalid. This may be because your organization's configuration
  prevents adding additional collaborators via email/password, e.g. for
  organizations that only allow login via SAML.
  + Body
    ```json
    {
      "errors": ["Password parameter is not permitted if only SAML logins are allowed"]
    }
    ```

+ Response 403 (application/json)
  You do not have permission to invite additional collaborators. It may be
  because your plan is at its seat limit and you need to upgrade your plan to
  add more collaborators, or you are not an admin on the Organization.
  + Body
    ```json
    {
      "errors": ["You have reached your plan's collaborator limit of 30", "Organization Administrator role required"]
    }
    ```

+ Response 403 (application/json)
  The `project_roles` parameter was supplied but your organization's plan does not have this feature.
  + Body
    ```json
    {
      "errors": ["Project member roles are not enabled for the current plan"]
    }
    ```

+ Response 403 (application/json)
  Both the `project_roles` and `project_ids` parameters were supplied.
  + Body
    ```json
    {
      "errors": ["project_roles cannot be specified at the same time as project_ids"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found"]
    }
    ```

### Bulk invite Collaborators [POST /organizations/{organization_id}/collaborators/bulk_invite]

This endpoint is used to invite multiple collaborator to your Bugsnag
organization at once. If a collaborator has already been invited but has not
accepted, this action will resend their invitation.

+ Parameters
  + organization_id: `515fb9337c1074f6fd000001` (string, required) - the ID of your organization

+ Request
  + Attributes
      + emails: `jane@example.com` (array[string])
        A list of emails to invite
      + `project_ids`: `590270d39ef172ad693e05b1` (array[string])
        The ids of projects in the current organization that the invited user should have access to. Leave blank if the `admin` field is set to true. Admins have access to all projects. Only one of `project_roles` and `project_ids` may be supplied.
      + `project_roles`: (object)
        The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'. Leave blank if the `admin` field is set to true. Admins have access to all projects. Only one of `project_roles` and `project_ids` may be supplied. This field may only be supplied if the `enterprise-roles` feature is enabled for the account.
        Example:
        ```
        {
          "590270d39ef172ad693e05b1": "project_owner",
          ...
        }
        ```
      + admin: false (boolean)
        Whether to give admin permissions to the invited user(s).

+ Response 200 (application/json)
  + Attributes (array[CollaboratorApiView])

+ Response 400 (application/json)
  The request was invalid. This may be because your organization's configuration
  prevents adding additional collaborators via email/password, e.g. for
  organizations that only allow login via SAML. Or you may have provided a field
  that is not valid when combined with other fields in your request. For example,
  you may not send the `name` or `password` fields when bulk inviting.
  + Body
    ```json
    {
      "errors": ["Cannot add collaborators to SAML organization", "Bulk operation does not support 'name' parameter"]
    }
    ```

+ Response 403 (application/json)
  You do not have permission to invite additional collaborators. It may be
  because your plan is at its seat limit and you need to upgrade your plan to
  add more collaborators, or you are not an admin on the Organization.
  + Body
    ```json
    {
      "errors": ["You have reached your plan's collaborator limit of 30", "Organization Administrator role required"]
    }
    ```

+ Response 403 (application/json)
  The `project_roles` parameter was supplied but your organization's plan does not have this feature.
  + Body
    ```json
    {
      "errors": ["Project member roles are not enabled for the current plan"]
    }
    ```

+ Response 403 (application/json)
  Both the `project_roles` and `project_ids` parameters were supplied.
  + Body
    ```json
    {
      "errors": ["project_roles cannot be specified at the same time as project_ids"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found"]
    }
    ```


### Update a Collaborator's permissions [PATCH /organizations/{organization_id}/collaborators/{id}]

+ Parameters
  + organization_id: `515fb9337c1074f6fd000001` (string, required) - the ID of your organization
  + id: `590270d39ef172ad693e05b1` (string, required) - the ID of the collaborator to update

+ Request
  + Attributes
      + `project_ids`: `590270d39ef172ad693e05b1` (array[string])
        The ids of projects in the current organization that the invited user should have access to. Leave blank if the `admin` field is set to true. Admins have access to all projects. Only one of `project_roles` and `project_ids` may be supplied.
      + `project_roles`: (object)
        The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'. Leave blank if the `admin` field is set to true. Admins have access to all projects. Only one of `project_roles` and `project_ids` may be supplied. This field may only be supplied if the `enterprise-roles` feature is enabled for the account.
        Example:
        ```
        {
          "590270d39ef172ad693e05b1": "project_owner",
          ...
        }
        ```
      + admin: false (boolean)
        Whether to give admin permissions to the user.

+ Response 200 (application/json)
  + Attributes (CollaboratorApiView)

+ Response 400 (application/json)
  The request was invalid. This may be because the fields provided are not valid
  for that user, or because the particular type of user cannot be updated via
  the API. For example, Heroku SSO users cannot be changed via the API.
  + Body
    ```json
    {
      "errors": ["Cannot update upstream billing collaborator"]
    }
    ```

+ Response 403 (application/json)
  You do not have permission to update collaborators. You need to be an admin of the Organization.
  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 403 (application/json)
  The `project_roles` parameter was supplied but your organization's plan does not have this feature.
  + Body
    ```json
    {
      "errors": ["Project member roles are not enabled for the current plan"]
    }
    ```

+ Response 403 (application/json)
  Both the `project_roles` and `project_ids` parameters were supplied.
  + Body
    ```json
    {
      "errors": ["project_roles cannot be specified at the same time as project_ids"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided or a user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "User not found"]
    }
    ```

### Delete a Collaborator [DELETE /organizations/{organization_id}/collaborators/{id}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of your organization
  + id: `590270d39ef172ad693e05b1` (string, required) - the ID of the collaborator to update

+ Response 204 (application/json)

+ Response 400 (application/json)
  The request was invalid. This may be because the particular type of user
  cannot be destroyed via the API. For example, Heroku SSO users cannot be
  changed via the API. It is also not possible to remove the last admin from
  an organization. You must promote another user to admin first or delete
  the organization entirely.
  + Body
    ```json
    {
      "errors": ["Cannot remove last admin"]
    }
    ```

+ Response 403 (application/json)
  You do not have permission to update collaborators. You need to be an admin on the Organization.
  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided or a user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "User not found"]
    }
    ```

### List Collaborators on a Project [GET /projects/{project_id}/collaborators{?per_page}]
List all collaborators that have access to a project.
+ Parameters
  + `project_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the project
  + `per_page`: 10 (number, optional)
      + Default: 30
+ Response 200 (application/json)
  + Attributes (array[CollaboratorApiView])
  + Headers

            Link: `<https://api.bugsnag.com/projects/515fb9337c1074f6fd000001/collaborators?offset=517c41f07c1074aee9000002>; rel="next"`
            X-Total-Count: 34

+ Response 404 (application/json)
  A project with the ID you provided could not be found, or you do not have access
to the project.
  + Body
    ```json
    {
      "errors": ["Project not found"]
    }
    ```

### View the project count of a collaborator [GET /organizations/{organization_id}/collaborators/project_access_counts{?collaborator_ids}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + 'collaborator_ids': (array[string], requied) - IDs of collaborators to view the project count of

+ Response 200 (application/json)
  + Attributes (array[ProjectAccessCountsApiView])

+ Response 404 (application/json)
  You do not have permission to view this data. You must be an admin of the organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 403 (application/json)
  The collaborator ids must be in an array format

  + Body
    ```json
    {
      "errors": ["Collaborator_ids must be an array"]
    }
    ```

+ Response 404 (application/json)
  A collaborator was not found.

  + Body
    ```json
    {
      "errors": ["Collaborator not found"]
    }
    ```

### View Projects a Collaborator has access to [GET /organizations/{organization_id}/collaborators/{collaborator_id}/projects{?sort,direction,per_page}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the organization
  + `collaborator_id`: `590270d39ef172ad693e05b1` (string, required) - the ID of the user
  + `q` : MyProject (string, optional) - Search projects with names matching parameter
  + sort (enum[string], optional)
      Which field to sort the results by
      + Default: `created_at`
      + Members
          + `created_at`
  + direction (enum[string], optional)
      Which direction to sort the results by
      + Default: `desc`
      + Members
          + `asc`
          + `desc`
  + `per_page` (number, optional) - How many results to return per page
      + Default: `30`

+ Response 200 (application/json)
  + Attributes (array[ProjectApiView])
  + Headers

            Link: <https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/collaborators/515fb9337c74f6fd00000100/projects?offset=517c41f07c1074aee9000002>; rel="next"
            X-Total-Count: 123

+ Response 403 (application/json)
  You do not have permission to view a collaborator's project access. You need
  to be an admin on the Organization.
  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided or a user with the ID you provided could not be found.
to the project.

  + Body
    ```json
    {
      "errors": ["Organization not found", "User not found"]
    }
    ```


### List a Collaborator's Access Details for Projects [GET /organizations/{organization_id}/collaborators/{collaborator_id}/project_accesses{?q,inaccessible,per_page}]

List summary details of the projects the collaborator has access to.

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the organization.
  + `collaborator_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the collaborator.
  + `q': `shop` (string, optional) - A query term to filter the names of projects by.
  + `inaccessible`: `true` (boolean, optional) - Return only inaccessible projects on the organization if true, only accessible projects if false.
      + Default: `false`
  + `individual_only`: `true` (boolean, optional) - Whether to just return the Project access that the Collaborator has individually (and not as part of a Team).
      + Default: `false`
  + `per_page`: 10 (number, optional)
      + Default: 30

+ Response 200 (application/json)
  + Attributes (array[CollaboratorProjectAccessApiView])

+ Response 404 (application/json)
  An organization, collaborator or project with the ID you provided could not be found.

  + Body
    ```json
    {
    "errors": ["Project not found"]
    }
    ```

### Show a Collaborator's Access Details for a Project [GET /organizations/{organization_id}/collaborators/{collaborator_id}/project_accesses/{project_id}]

Return the details of a collaborator's access to a project.

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the organization.
  + `collaborator_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the collaborator.
  + `project_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the project.

+ Response 200 (application/json)
  + Attributes (CollaboratorProjectAccessApiView)

+ Response 404 (application/json)
  An organization, collaborator or  project with the ID you provided could not be found.

  + Body
    ```json
    {
    "errors": ["Project not found"]
    }
    ```

### Add a Collaborator to a group of Teams [POST /organizations/{organization_id}/collaborators/{id}/team_memberships]

  Add a collaborator to a list of teams, or all a collaborator to all the teams in this organization.

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the organization.
  + `id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the collaborator.

+ Request
  + Attributes (CreateTeamMembershipRequest)

+ Response 200 (application/json)
  + Attributes (CollaboratorApiView)

+ Response 404 (application/json)
  The collaborator you're accessing is not part of this organization

  + Body
    ```json
    {
      "errors": ["Collaborator not found"]
    }
    ```

+ Response 403 (application/json)
  You must provide a `team_ids` parameter when `add_all_teams` is false.

  + Body
    ```json
    {
      "errors": ["Team_ids must be supplied when add_all_teams is set to false"]
    }
    ```

+ Response 403 (application/json)
  Your `team_ids` parameter must be in an array format.

  + Body
    ```json
    {
      "errors": ["Team_ids must be an array"]
    }
    ```

+ Response 404 (application/json)
  A team ID you provided could not be found.

  + Body
    ```json
    {
      "errors": ["Team not found"]
    }
  ```

### Remove a Collaborator from a group of Teams [DELETE /organizations/{organization_id}/collaborators/{id}/team_memberships]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the organization.
  + `id`: `515fb9337c1074f6fd000001` (string, required) - The ID of the collaborator.

+ Request
  + Attributes (TeamIDRequest)

+ Response 200 (application/json)
  + Attributes (CollaboratorApiView)

+ Response 404 (application/json)
  The collaborator could not be found, or is not part of the organization

  + Body
    ```json
    {
      "errors": ["Collaborator not found"]
    }
    ```

+ Response 404 (application/json)
  A team ID you provided could not be found.

  + Body
    ```json
    {
      "errors": ["Team not found"]
    }
    ```

## Teams [/teams]

Teams allow you to easily control the project permissions of a group of collaborators.

### List Teams from a query [GET /organzations/{organization_id}/teams{?q,per_page,offset}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `q` (string, optional) - A partial or full team name to filter the results by.
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `offset` (string, optional) - Token to retrieve next page of results

+ Response 200 (application/json)
  + Attributes (array[TeamApiView])

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the Organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

### Create a Team [POST /organizations/{organization_id}/teams]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization

+ Request
  + Attributes (TeamCreateRequest)

+ Response 200 (application/json)
  + Attributes (TeamApiView)

+ Response 400 (application/json)
  The team name is not unique for the organization or the name is too long.

  + Body
    ```json
    {
      "errors": ["Team name is more than 200 characters", "A team called Team co already exists for this organization"]
    }
    ```

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the organization.

+ Body
  ```json
  {
    "errors": ["Organization Administrator role required"]
  }
  ```

+ Response 404 (application/json)
  A team with the ID you provided could not be found.

+ Body
  ```json
  {
    "errors": ["Team not found"]
  }
  ```

### Show the details of a team [GET /organizations/{organization_id}/teams/{id}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team

+ Response 200 (application/json)
  + Attributes (TeamApiView)

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  A team with the ID you provided could not be found.

  + Body
    ```json
    {
      "errors": ["Team not found"]
    }
    ```

### Update a team name [PATCH /organizations/{organization_id}/teams/{id}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team to be deleted

+ Request
  + Attributes (TeamUpdateRequest)

+ Response 200 (application/json)
  + Attributes (TeamApiView)

+ Response 400 (application/json)
  There is an issue with the new name. It may be too long or not unique.

  + Body
    ```json
    {
      "errors": ["Team name is blank", "Team name is more than 200 characters", A team called Team co already exists for this organization"]
    }
    ```

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  A team with the ID you provided could not be found.

  + Body
    ```json
    {
      "errors": ["Team not found"]
    }
    ```

### Delete a team [DELETE /organizations/{organization_id}/teams/{id}]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team to be deleted

+ Response 200 (application/json)

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you've provided or a team with the ID you've provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found"]
    }
    ```

### List Suggested Collaborators to Add to a Team [GET /organizations/{organization_id}/teams/{id}/suggested_collaborators]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team
  + `q` (string, optional) - A partial or full user name or email to filter the results by.
  + `include_has_access` (boolean, optional) - Request all collaborators in the organization, including those that are not members of the team. By default only collaborators who are not members of the team will be returned.
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `offset` (string, optional) - token to retrieve next page of results

+ Response 200 (application/json)
  + Attributes (array[SuggestedTeamCollaboratorApiView])

+ Response 404 (application/json)
  An organization with the ID you provided or a team with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found"]
    }
    ```

### List Teams for a Collaborator [GET /organizations/{organization_id}/collaborators/{id}/teams]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the collaborator
  + `q` (string, optional) - A partial or full team name to filter the results by
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `offset` (string, optional) - token to retrieve next page of results

+ Response 200 (application/json)
  + Attributes (array[TeamApiView])

+ Response 404 (application/json)
  An organization with the ID you provided or a user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "User not found"]
    }
    ```

### List Suggested Teams for a Collaborator [GET /organizations/{organization_id}/collaborators/{id}/suggested_teams]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the collaborator
  + `q` (string, optional) - A partial or full team name to filter the results by
  + `include_is_member` (boolean, optional) - Request all teams in the organization, including those that the collaborator is already on. By default only teams the collaborator is not a member of will be returned
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `offset` (string, optional) - token to retrieve next page of results

+ Response 200 (application/json)
  + Attributes (array[TeamSuggestionApiView])

+ Response 404 (application/json)
  An organization with the ID you provided or a user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "User not found"]
    }
    ```

### List the Collaborators in a Team [GET /organizations/{organization_id}/teams/{id}/collaborators]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team
  + `q` (string, optional) - A partial or full user name or email to filter the results by.
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `offset` (string, optional) - token to retrieve next page of results

+ Response 200 (application/json)
  + Attributes (array[CollaboratorApiView])

+ Response 404 (application/json)
  An organization with the ID you provided or a team with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found"]
    }
    ```

### Add Collaborators to a Team [POST /organizations/{organization_id}/teams/{id}/team_memberships]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team

+ Request
  + Attributes (TeamMembershipsAddUsersRequest)

+ Response 200 (application/json)
  + Attributes (TeamApiView)

+ Response 403 (application/json)
  You do not have permission to add collaborators to a team. You must be an admin of the organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization, team or user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found", "User not found"]
    }
    ```

### Remove Collaborators from a Team [DELETE /organizations/{organization_id}/teams/{id}/team_memberships]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team

+ Request
  + Attributes (CollaboratorsRequest)

+ Response 200 (application/json)
  + Attributes (TeamApiView)

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization, team or user with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found", "User not found"]
    }
    ```

### List Project Access for a Team [GET /organizations/{organization_id}/teams/{id}/project_accesses]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team
  + `q` (string, optional) - A partial or full project name to filter the results by.
  + `per_page`: 10 (number, optional)
      + Default: 30
  + `offset` (string, optional) - A token for pagination

+ Response 200 (application/json)
  + Attributes (array[TeamProjectAccessApiView])

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the Organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required"]
    }
    ```

+ Response 404 (application/json)
  An organization with the ID you provided or a team with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found"]
    }
    ```

### Add Project Access to a Team [PATCH /organizations/{organization_id}/teams/{id}/project_accesses]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `team_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team

+ Request
  + Attributes (TeamProjectAccessesUpdate)

+ Response 200 (application/json)
  + Attributes (array[TeamApiView])

+ Response 403 (application/json)
  You do not have permission to view this data. You must be an admin of the Organization or a project owner, or you are trying to set the project role to a role not supported for your organization.

  + Body
    ```json
    {
      "errors": ["Organization Administrator role required", "Insufficient Project Role for performing requested action", "Enterprise roles are not enabled on this account"]
    }
    ```

+ Response 404 (application/json)
  An organization, team, or project with the ID you provided could not be found

  + Body
    ```json
    {
      "errors": ["Organization not found", "Team not found", "Project not found"]
    }
    ```

### Remove Project Access from a Team [DELETE /organizations/{organization_id}/teams/{id}/project_accesses]

+ Parameters
  + `organization_id`: `515fb9337c1074f6fd000001` (string, required) - ID of the organization
  + `team_id`: `515fb9337c1074f6fd000001` (string, required) - the ID of the team

+ Request
  + Attributes (TeamProjectAccessesDelete)

+ Response 200 (application/json)
  + Attributes (array[TeamApiView])

+ Response 403 (application/json)
[...]
